:root {
  background-color: #E8F8F9;
  --oslometgul: #ffd500;
  font-family:  "Moderat Regular","Helvetica", "Sans-Serif";
}

/* Importing Fonts */
@font-face {
  font-family: "Moderat Bold";
  src: url("../fonts/Moderat-Bold.woff2");
}

@font-face {
  font-family: "Moderat Regular";
  src: url("../fonts/Moderat-Regular.woff2");
}

header {
  min-width: 100%;
  background-color: var(--oslometgul);
}

body {
  margin: 0;
}

footer {
  background-color: var(--oslometgul);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}






/* Index Page Specific Styling */

.footer-upper-wrapper {
  flex-direction: column;
  align-items: center;
}

.footer-lower-wrapper,
.footer-upper-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin-top: 1em;
  margin-bottom: 1em;
}


.footer-lower-wrapper>* {

  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-top: 1em;
  margin-bottom: 1em;
}
a:link, a:visited{
  color: black;
}

.footer-useful-links-box>a,
.footer-social-media-links-box>a,
.footer-contact-information-box>a {
  /* Adjusted for Lighthouse, which made the claim that touch controls might have difficulty selecting links without proper spacing between them */
  margin: 0.5em;
}



/* Phone scaling */
@media all and (max-width: 680px) {
  header {
    min-height: 160px;
  }

  .footer-lower-wrapper {
    display: inline;
  }

  .basic-info-container {
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: auto auto;
    justify-content: space-around;
  }

  .info-snippet-container {
    /* Makes sure the borders don't overlap on mobile screens in display: grid; */
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: black;

  }

  .info-snippet-container:nth-child(n+6):nth-child(-n+7) {
    /*Adjusted answer from here: https://stackoverflow.com/a/56315469, see comment in previous block for reasoning. */
    border-bottom-style: solid;
    border-bottom-color: black;
    border-bottom-width: 1px;
  }

  .info-snippet-container>h3 {
    margin-left: 0.25em;
  }

  .info-snippet-container>p {
    margin-left: 0.5em;
  }

  .student-stories-button {
    width: 100%;
    
    
  }

}


/* Widescreen scaling */
@media all and (min-width: 680px) {
  header {
    min-height: 180px;
  }

  aside {
    margin: 1em;
  }

  .basic-info-container {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
  }

  .info-snippet-container>p {
    margin-left: 0.25em;
  }

  .info-snippet-container {
    /* Makes sure the borders don't overlap on widescreens in display: grid; */
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: black;

  }

  .info-snippet-container:nth-child(n+5):nth-child(-n+7) {
    /*Adjusted answer from here: https://stackoverflow.com/a/56315469, see comment in previous block for reasoning. */
    border-bottom-style: solid;
    border-bottom-color: black;
    border-bottom-width: 1px;
  }


  .study-faq-container {
    display: grid;
    justify-items: center;
    min-width: 0;
    min-height: 0;
    column-gap: 1em;
    row-gap: 5em;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 1fr 1fr;
  }

  .course-group-header {
    padding-left: 0.5em;
    width: min-content;
    margin-top: 0;
    border-left-style: solid;
    border-left-color: black;
    border-left-width: 1px;

  }

  .courses-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
  }


}

/* Even wider screen scaling */
@media all and (min-width: 1280px) {
  .basic-info-container {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto auto auto;
    justify-content: space-around;
  }

  .introduction-container {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .introduction-container>h1 {
    font-size: xx-large;
  }

  .study-faq-container {
    display: grid;
    justify-content: center;
    min-width: 0;
    min-height: 0;
    column-gap: 1em;
    row-gap: 5em;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  
}


/* This section contains styling for the "studiets oppbygging, which was moved from the faq section to its own, for reasons of readibility  */

.course-box {
  width: fit-content;
  border-top-style: solid;
  border-top-color: black;
  border-top-width: 1px;
  padding-top: 1em;

}

.course-box-lower {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
}

.course-box-lower>span {

  margin-right: 0.5em;
}

.indented-course-basic {
  margin-left: 0.5em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}


.student-stories-picture-box {
  display: flex;
  flex-direction: column;
  width: fit-content;
  background-color: var(--oslometgul);
}

.student-stories-picture-box>* {
  width: fit-content;
}

.student-stories-picture-box>h3+h4 {
  margin: 0.5em;
}



.student-stories-button {
  display: block;
  background-color: var(--oslometgul);
  color: black;
}

/* This section contains styling for the faq dropdown menu section */
.study-faq-container {
  height: auto;
}

.faq-toggle-header {
  display: flex;



}

.faq-toggle-header>svg,
.course-box>svg {
  margin-left: 1em;
  margin-right: 1em;
  width: 1em;
  height: auto;
}

.faq-toggle-header>h3 {
  position: relative;
}

.faq-dropdown-toggle {
  -webkit-appearance: none;
  appearance: none;
}

.faq-dropdown-content {
  display: none;
  transition: all .3s linear;
  margin-left: 1em;
  margin-right: 1em;

}


.faq-single-question-wrapper {
  width: 100%;


}


/* This block requires a slightly annoying HTML structure to work, but is quite simple, from my understanding, it selects the next sibling of the type specified, unfortunately that means the .faq-dropdown-toggle can't be a part of the .faq-toggle-header. inspired by this answer: https://stackoverflow.com/a/44832652 */
.faq-dropdown-toggle:checked~.faq-dropdown-content {
  display: block;
}

/* Using the same logic above for getting the checked, although a bit hacky selector-wise */
.faq-dropdown-toggle:checked~label>svg>path:nth-child(1) {
  transition: all .2s ease-in-out;
  transform: rotate(90deg);
  transform-origin: center;

}

label>svg>path:nth-child(1) {
  transition: all .2s ease-in-out;
}

/* End of Index Specifc Styling */


/* Start of Activity Specific Styling */

/* Phone Screen Scaling */
@media all and (max-width: 680px) {

  .activity-image-group > picture > * {
    width: 100%;
  }
}
/* Widescreen Scaling */
@media all and (min-width: 680px) {

  .main-activity-image{
    margin-top: 1rem;
    display: flex;
    width: 100%;
    justify-content: center;
  }
  .activity-image-group {
    display: grid;
    justify-content: center;
    grid-template-columns: minmax(0,auto) minmax(0,auto);
  
  }
}

.activity-button-group {
  display: flex;
  gap: 1em;

}
.main-activity-image > img{
  margin-top: 1rem;
}